

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    /* max-height: 100vh; */
    overflow: hidden;
}

.right-main-container {
    background-color: #F5F5F5;
    width: 100%;
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.bold {
    font-weight: 700;
}

.font-size-small {
    font-size: 0.8rem;
}

.mr1 {
    margin-right: 1rem;
}

/* === BG Colors for the assigned-to Names on the Board === */

.bg-color-lightblue {
    background-color: lightblue;
}

.bg-color-burlywood {
    background-color: burlywood;
}

/* === BG Colors for the assigned-to Names on the Board === */

.Fabian.Caspers {
    background-color: lightgreen;
}



/* === BG Colors for the category on the Board === */

.bg-color-lightcoral {
    background-color: lightcoral;
}

.bg-color-cornflowerblue {
    background-color: cornflowerblue;
}

.bg-color-khaki {
    background-color: khaki;
}

.bg-color-lightgreen {
    background-color: lightgreen;
}

/* === BG Colors for the category on the Board === */

.Software-Development {
    background-color: lightcoral;
}

.Design {
    background-color: cornflowerblue;
}

.Marketing {
    background-color: khaki;
}

.Sales {
    background-color: lightgreen;
}

@media (max-width: 600px) {
    .right-main-container {
        height: 100vh;
    }
}

@media (max-width: 425px) {
    .font-size-small {
        font-size: 1rem;
    }
}
